{% extends 'quotes/base.html' %}

{% block content %}
<body>
	<h1 style="text-align: center; color: #2C244F;">Add new quote</h1>
    <form method="POST" action="">
        {% csrf_token %}
        
		<div style="display: flex; align-items: center; margin-bottom: 20px;">
			<label style="min-width: 60px; font-family: 'Cambria', serif; margin-right: 10px;">
				Quote:
			</label>
			{{ form.quote_text }}
		</div>
		
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
			<label style="min-width: 60px; font-family: 'Cambria', serif; margin-right: 10px;">
				Source:
			</label>
			{{ form.quote_source }}
		</div>
		
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
			<label style="min-width: 60px; font-family: 'Cambria', serif; margin-right: 10px;">
				Author:
			</label>
			{{ form.quote_author }}
		</div>		
		
		<div style="display: flex; align-items: center; margin-bottom: 20px;">
			<label style="min-width: 60px; font-family: 'Cambria', serif; margin-right: 10px;">
				Weight:
			</label>
			{{ form.quote_weight }}
		</div>
		
		<div style="text-align: center;">
			<input style="background: #9889B8; 
					color: white; 
					border: none; 
					width: 20%; 
					min-width: 100px; 
                    border-radius: 6px; 
                    cursor: pointer; 
                    font-family: 'Cambria', serif; 
                    font-size: 16px; 
                    min-width: 120px;" 
					type="submit" value="Add Quote" />
		</div>
    </form>
</body>
{% endblock %}
