{% extends 'quotes/base.html' %}

{% block content %}

<h1 style="text-align: center; color: #2d3436;">Top Quotes</h1>
{% for quote in quotes %}
    <p><strong>Quote:</strong> {{ quote.text }}</p>
    <p><strong>Source:</strong> {{ quote.source.name }}</p>
    <p>Likes: <span id="likes-{{ quote.id }}">{{ quote.likes }}</span></p>
	<p>Dislikes: <span id="dislikes-{{ quote.id }}">{{ quote.dislikes }}</span></p>
	<p>Views: <span id="views-{{ quote.id }}">{{ quote.views }}</span></p>
{% endfor %}

{% endblock %}
